/* Importation de la librairie d'icon fontawesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/* Ajout du font de netflix */
@font-face {
    font-family: 'Netflix Sans';
    src: url('fonts/NetflixSans-Medium.otf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('fonts/NetflixSans-Regular.otf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('fonts/NetflixSans-Bold.otf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('fonts/NetflixSans-Light.otf') format('truetype');
    font-weight: 300;
}

:root {
    --main-color: #E50914;
    --default-padding-inline: 10rem;
}

/* CSS Reset + Default config */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Netflix Sans', Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

/* Header */
section {
    border-bottom: 10px solid #232323;
    padding: 2.5rem 0;
}

.header {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url("./img/bg.jpg");
    position: relative;
    background-position: center;
    flex-direction: column;
    border-bottom: 10px solid #232323;
}

.header::before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Navbar */
.navbar,
.header-content {
    position: relative;
    z-index: 1;
}

.navbar {
    display: flex;
    padding-inline: var(--default-padding-inline);
    padding-block: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar img {
    width: 148px;
}

.navbar a {
    padding: 7px 16px;
    background: var(--main-color);
    color: white;
    text-decoration: none;
    user-select: none;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    font-size: 15px;
}

/* Header content */
.header-content {
    margin: auto;
    padding-inline: var(--default-padding-inline);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-block: 10rem;
}

.header-content .title {
    font-weight: 900;
    font-size: 4.2vw;
    letter-spacing: -1.5px;
}

.header-content .subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.header-content .message {
    font-size: 1.25rem;
    font-weight: 400;
    margin-block: 1.5rem;
}

.header-content .input-box {
    text-align: left;
    position: relative;
    margin: 1rem auto 0px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 600px;
}

.header-content .input-box input {
    background: transparent;
    width: 100%;
    color: white;
    line-height: 1.5rem;
    padding: 0.9rem 1.2rem;
    border-radius: 0.25rem;
    border: 1px solid #ccccccad;
    background: rgba(0, 0, 0, 0.4);
}

.header-content .input-box a {
    margin-left: 1rem;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: 500;
    background: var(--main-color);
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-decoration: none;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 9px;
    min-width: fit-content;
}

.header-content .input-box input::placeholder {
    color: #ccc;
}

/* Section One: TV */
section {
    display: flex;
    align-items: center;
    gap: 5%;
    padding-inline: 8rem;
    margin: auto;
}

section .left {
    flex: 0 0 49%;
    width: 100%;
    /* border: 1px solid red; */
}

section .right {
    flex: 0 0 49%;
    /* border: 1px solid green; */
}

section .left img,
section .right img {
    max-width: 100%;
    padding: 2rem;
}

section .image-section {
    display: flex;
    align-items: center;
    position: relative;
}

section .section-title {
    word-spacing: 5px;
    font-size: 3rem;
    font-weight: 900;
}

section .section-description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    padding: 2rem;
}

.video-overlay video {
    max-width: 100%;
    max-height: 100%;
}



footer{
    font-size: 12px;
    color: #ccc;
    text-align: center;
    padding: 2rem;
}

footer i{
    padding-inline: 5px;
    color: red;
}

footer a{
    text-decoration: underline;
    color: inherit;
}

/* Mediaqueries */
@media screen and (max-width: 600px) {
    /* Appareil mobile */
    .navbar img {
        width: 88px;
    }

    .navbar {
        padding-inline: 1.2rem;
    }

    .header-content {
        padding-inline: 1.2rem;
        margin-top: 0.75rem;
        margin-bottom: 2rem;
    }

    .header-content .input-box {
        flex-direction: column;
        align-items: center;
    }

    .header-content .input-box a {
        margin-left: 0;
        margin-top: 1rem;
        justify-content: center;
        font-size: 1rem;
    }

    .header-content .input-box input {
        padding: 1rem;
    }

    .header-content .title {
        font-size: 2.2rem;
    }

    .header-content .subtitle {
        font-size: 1.15rem;
    }

    .header-content .message {
        font-size: 1rem;
    }

    section {
        padding-inline: 1.2rem;
    }

    section .left,
    section .right {
        flex: 0 0 100%;
    }

    section .left img,
    section .right img {
        padding: 1rem;
    }
}

@media screen and (max-width: 960px) {
    /* Tablettes et mobiles */
    section {
        flex-direction: column;
        text-align: center;
    }

    section .section-title {
        font-size: 2rem;
        font-weight: 700;
    }

    section .section-description {
        font-size: 1.125rem;
        font-weight: 400;
    }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
    /* Tablettes */
    :root {
        --default-padding-inline: 1.2rem;
    }
    .navbar img {
        width: 140px;
    }
    .navbar {
        padding-inline: var(--default-padding-inline);
    }

    .header-content {
        padding-inline: var(--default-padding-inline);
        margin-block: 8rem;
    }
}

@media screen and (min-width: 961px) and (max-width: 1150px) {
    /* Grand écran */
    :root {
        --default-padding-inline: 3rem;
    }

    .navbar {
        padding-inline: var(--default-padding-inline);
    }

    .header-content {
        padding-inline: var(--default-padding-inline);
    }
}
